@import "../../_globalColor";
.card-image {
  max-width: 100%;
  height: auto;
  width: 250px;
}
.card-title {
  color: $titleColor;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin: 15px 0 0 0;
}
.card-subtitle {
  color: $cardSubtitle;
  font-size: 17px;
  line-height: 1.5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: $lightBackground2;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid $lightBorder1;
  justify-content: center;
}
.project-card-light {
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-card-dark {
  box-shadow: 0px 10px 30px -15px $darkBoxShadow;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.25s ease;
}

.project-detail {
  text-align: center;
  // margin-top: auto;
}
.project-card-light:hover {
  box-shadow: $lightBoxShadowDark 0px 20px 30px -10px;
}
.project-card-dark:hover {
  box-shadow: 0px 20px 30px -10px $darkBoxShadow;
}
.project-image {
  position: relative;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.tech-item {
  padding: 6px 12px;
  font-size: 0.875rem;
  font-weight: 500;
  color: $lightBackground3; /* slate-800 */
  background-color: $buttonColor; /* gray-100 */
  border: 1px solid $lightBackground3; /* gray-200 */
  border-radius: 9999px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
}

.tech-item:hover {
  background-color: $buttonHover; /* slightly darker on hover */
  cursor: default;
}

.project-card-footer a.project-tag {
  // background: $lightBackground3;
  color: $buttonColor;
  border: 1px solid $buttonColor;
  vertical-align: middle;
  align-items: center;
  border-radius: 16px;
  display: inline-flex;
  font-size: 1rem;
  height: 2em;
  justify-content: center;
  white-space: nowrap;
  line-height: 1.5;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0 0.75em;
  cursor: pointer;
  transition: 0.2s ease-in;
  text-decoration: none;
}

.project-card-footer a.project-tag:hover {
  transform: translateY(-2px);
  background-color: $buttonColor;
  color: white;
}
